header{
  padding:10px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 170px;
}
#navbar-list {
  width:75%;
  font-family: 'Roboto Mono', monospace;
  color:#212121;
  font-size:16px;
  font-weight: bold;
}
#navbar-list > a{
  font-family: 'Indie Flower', cursive;
  font-size: 34px;
  color: #333;
}
#navbar-list .nav-link:link,
#navbar-list .nav-link:visited,
#navbar-list .nav-link:active{
  padding:10px 65px;
  color:#212121;
  font-weight:bold;
}

#navbar-list .nav-link:hover{
    color:#000;
    background-color:#e0e0e0;
    border-radius: .85rem;
}

.navbar-nav{
  margin-left:25px;
}
.register{
  width:300px;
  font-weight:bold;
  font-family: 'Cabin', sans-serif;
}

.register .btn{
    border-radius: .65rem;
}

.register .btn-outline-primary{
  color:#706fc1;
  width:60%;
  font-size:18px;
  border: 2px solid #706fc1;
}

.register .btn-outline-secondary{
  color:#424242;
  font-size:17px;
  border: 2px solid #607d8b;
}

.register .btn-outline-primary:hover{
  color:#fff;
  background-color:#706fc1;
}
.register .btn-outline-secondary:hover{
  color:#fff;
  background-color:#607d8b;
}

.slider{
   width:1550px;
   height: 602px;
   /* border: 3px solid black; */
   margin: 0 auto;
   background-image: url("../imgs/bg.png");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   text-align: center;
}
.slider hr{
  height: 1px;
  color: white;
  background-color: white;
  width: 580px;
}
.slider h2{
  padding-top: 200px;
  font-family: 'Roboto Mono', monospace;
  color: white;
}
.slider h4{
  font-family: 'Pacifico', cursive;
  color: white;
  padding-top: 10px;
}

footer{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-items: stretch;
  width:1550px;
  height: 262px;
  /* border: 3px solid black; */
  margin: 0 auto;
  background-color: #F0F0F0;
}

footer ul{
  padding-left: 25px;
  font-family: 'Ubuntu', sans-serif;
}

footer h5{
  font-family: 'Cabin', sans-serif;
  font-weight: 500;
}

footer > div{
  margin-left: 55px;
  padding: 20px;
}

.social, .support, .about{
  display: flex;
  flex-direction: column;
}

.social a {
  text-decoration: none;
  text-align: center;
}

.subs label{
  font-family: 'Cabin', sans-serif;
  font-weight: 500;
}

.subs button{
  float: right;
}

.copyright{
  font-family: 'Ubuntu', sans-serif;
}

.copyright span{
  font-family: 'Indie Flower', cursive;
  font-size: 24px;
}

.vl{
  border-left: 2px solid black;
  height: 185px;
  padding: 0;
}
